<nav class="navbar navbar-right">
    <div class="navbar-header">
        <img alt="logo-upf" src="img/logo-upf.jpg">
        <img alt="logo-muhba" src="img/logo-muhba.jpg">
        <img alt="logo-fubint" src="img/logo-fubint.jpeg">
    </div>
</nav>