<nav class="navbar navbar-right">
    <div class="navbar-header">
        <img alt="logo-upf" src="img/logo-upf.jpg">
        <img alt="logo-muhba" src="img/logo-muhba.jpg">
        <img alt="logo-fubint" src="img/logo-fubint.jpeg">
    </div>
</nav>
<nav class="navbar navbar-left" style="margin-left: 5%; margin-top: 10px">
    <a class="flag-language-brit" alt=""></a>
    <a class="flag-language-spa" alt=""></a>
</nav>
<p id="language-id" style="display: none;">english</p>