<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <form action="/questions" method="post">
      <div class="text-center">
        <h1 class="display-4">Instructions</h1>
        <p class="lead">Bla bla bla</p>
        <button class="btn btn-primary btn-lg" href="#" role="button">Next</button>
      </div>
    </form>
  </div>
</body>
</html>
