<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <form action="/questions" method="post">
      <div class="text-center">
        <h1 class="display-4">Instructions</h1>
        <p class="lead">Welcome back!
          We will now begin the post-trial questionnaire. Please, keep in mind the following points:
          <ul class="list-group lead">
            <li>The questionnaire should last between 5 to 10 minutes, depending on your speed.</li>
            <li>There is no time limit to answer all the questions.</li>
            <li>All questions are required. If you don’t answer all the questions you might not able to continue.</li>
            <li>Due to the structure of the research, we have disabled the "Back" button during the questionnaire.Please do not try going back to a previous page.</li>
            <li>You won't be allowed to change responses once the questionnaire is submitted.</li>
            <li>Please try to complete the questions in one sitting, since still you can not go back to the previous page.</li>
          </ul>
        </p>
        <button class="btn btn-primary btn-lg" href="#" role="button">Start</button>
      </div>
    </form>
  </div>
</body>
</html>
