<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <form action="/questions" method="post">
      <div class="text-center">
        <h2 id="l-17" class="display-4">Instructions</h2>
        <p id="l-18" style="margin-left: 12%; text-align: left;">Welcome back! We will now begin the post-trial questionnaire. Please, keep in mind the following points:</p>
        <ul class="list-group lead">
          <li id="l-19">The questionnaire might last you between 5 to 10 minutes, depending on your speed.</li>
          <li id="l-20">There is no time limit to answer all the questions.</li>
          <li id="l-21">All questions are required. To pass from one page to another page it's necessary to answer all the questions.</li>
          <li id="l-22">Due to the structure of the research, we have disabled the "Back" button during the questionnaire. Please do not try going back to a previous page.</li>
          <li id="l-23">You won't be allowed to change responses once the questionnaire is submitted.</li>
          <li id="l-24">Please try to complete the questions in one sitting.</li>
        </ul>
        <p id="l-25">Thank you!</p>

        <button id="l-26" class="btn btn-primary btn-lg" href="#" role="button">Start</button>
      </div>
    </form>
  </div>
  <!-- Footer -->
<footer >
<nav class="navbar navbar-light bg-lightgray">
  <div class="container-fluid">
    <p id="l-27" class="footer-footer text-right py-3"> Loza Tadesse, Paul Hine, Narcis Pares, University Pompeu Fabra – UPF-WaS 2021-2022
    </p>
</nav>
</div>
</footer>

</body>
</html>
