<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <form action="/instructions" method="post">
      <div class="text-center">
        <h2 id="l-9" class="display-4">Privacy and Policy</h2>
        <div>
          <p id="l-10">The task to be performed does not pose any foreseeable risks for the user. Please note that we are collecting your data for scientific research purposes of my Master thesis project that I am doing at Pompeu Fabra University. The data you share with us on this page will be aggregated and anonymized. We do not store any personal identifying data. Such as name and personal questions. By completing the questionnaire which follows the instructions page, you are consenting to anonymously share your data with the researcher (Me) and understand that it may be used in scientific publication. You can stop at any time or ask for further information on the study, please reach me out at loza.tadesse01@estudiant.upf.edu. </p>
          <p id="l-11">Please, by clicking the “Accept” button below indicates that you have agreed to participate and that you agree to have your data used in this study. Also that you will not disclose content, research procedures, and/or purpose to anyone from outside of the study.</p>         
          <p id="l-12">“Reject”, I do not agree (do not participate in this study) “Accept”, I agree</p>
          <p id="l-13">Thank you!</p>
        </div>
        <button id="l-14" name="accept" value="1" class="btn btn-primary btn-lg" href="#" role="button">Accept</button>
        <button id="l-15" name="reject" value="0" class="btn btn-danger btn-lg" href="#" role="button">Reject</button>
      </div>
    </form>
  </div>
  <footer >
    <nav class="navbar navbar-light bg-lightgray">
      <div class="container-fluid">
        <p id="l-16" class="footer-footer text-right py-3">Loza Tadesse, Paul Hine, Narcis Pares, University Pompeu Fabra – UPF-WaS 2021-2022
        </p>
    </nav>
    </div>
    </footer>
</body>
</html>
