<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>

  <div class="jumbotron questions">
      <div class="text-center">
        <h1 class="display-4">Questionnarie</h1>
      </div>
  </div>

  <form action="/submit" method="post"></form>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <!-- Question 1-->
        <section>
          <h4><strong>1. To which gender do you most identify?</strong></h4>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="1_female" checked>
              Female
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="1_male">
              Male
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="1_other">
              Others
            </label>
          </div>
        </section>

        <!-- Question 2-->
        <section>
          <h4><strong>8. What is your preference about museums?</strong></h4>
          <p><strong>8.1 I am interested in history</strong></p>
          <div class="col5">
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1 <span>interested at all</span>
            </label>
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2 <span>Somewhat interested</span>
            </label>
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3 <span>Fairly interested</span>
            </label>
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 4 <span>Very interested</span>
            </label>
            <label>
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 5 <span>Hardly interested</span>
            </label>
          </div>
        </section>
        <button class="btn btn-primary btn-lg" href="#" role="button">Next</button>
      </div>
    </div>
  </form>
</body>
</html>
