<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <div class="text-center">
      <h1 class="display-4">Thank you!</h1>
      <p class="lead">Bla bla bla</p>
    </div>
  </div>
</body>
</html>
