<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <div class="text-center">
      <h2 class="display-4">Thank you for completing this questionnaire!</h2>
						
      <h4>We would like to thank you very much for helping us.
        Your answers were transmitted, you may close the browser window or tab now. 
        </h4> 
    </div>
  </div>
  <footer class="page-footer font-small lightgrey pt-4">
    <p class="footer-footer text-right py-3">Loza Tadesse, Paul Hine, Narcis Pares, University Pompeu Fabra – UPF-WaS 2021-2022</p>
  </footer>
</body>
</html>
