<!DOCTYPE html>
<html>
<head>
<%- include ("../partials/header.ejs") %>
</head>
  <body class="home">
    <%- include ("../partials/nav.ejs") %>
    <div class="jumbotron">
      <form action="/privacy" method="post">
        <div class="text-center">
          <h2 class="display-4">Welcome to the study of Augmented Reality for Barcino MUHABA Museum</h2>
          <div class="body-content">
            <p class="lead">First I would like to thank you for taking your time to participate in this scientific study. This study is being done by the Full-Body Interaction Lab as part of a masters’ thesis in Cognitive Systems and Interactive Media at the Universitat of Pompeu Fabra.</p>

            <p>As a participant, you were exploring the museum content with your partner in two roles using World as Support and Window on the World Augmented Reality paradigms.</p>


            
            <ul>
              <li><strong>Role One:</strong> You were interacting with the augmented content as the device holder.</li>
              <li><strong>Role Two:</strong> You were interacting with the augmented content as a non-device holder with your partner who was holding the device.</li>
            </ul>

            <p>
            Your participation in this research study is valuable, and we are grateful for your time. Please by clicking the Next button read and accept our policy.
            </p>
          </div>
          <button class="btn btn-primary btn-lg" href="#" role="button">Next</button>
        </div>
      </form>
    </div>
    <footer >
      <nav class="navbar navbar-light bg-lightgray">
        <div class="container-fluid">
        <p class="footer-footer text-right py-3">Loza Tadesse, Paul Hine, Narcis Pares, University Pompeu Fabra – UPF-WaS 2021-2022
      </p>
      </nav>
      </div>
      </footer>
  </body>
</html>
      