<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="home">
  <%- include ("../partials/nav.ejs") %>
  <div class="jumbotron">
    <form action="/privacy" method="post">
      <div class="text-center">
        <h1 class="display-4">Welcome to the WaS Experimental Setup!</h1>
        <p class="lead">Bla bla bla</p>
        <button class="btn btn-primary btn-lg" href="#" role="button">Start!</button>
      </div>
    </form>
  </div>
</body>
</html>
