<!DOCTYPE html>
<html>
<head>
<%- include ("../partials/header.ejs") %>
</head>
  <body class="home">
    <%- include ("../partials/nav.ejs") %>
    <div class="jumbotron">
      <form action="/privacy" method="post">
        <div class="text-center">
          <h2 class="display-4">Welcome to the WaS experimental analysis!</h2>
          <div class="body-content">
            <p class="lead">First I would like to thank you for taking your time to participate in this scientific experimental questionnaire. This study is being done by the Full-Body Interaction Lab as part of a masters’ thesis in Cognitive Systems and Interactive Media at the Universitat of Pompeu Fabra.</p>

            <p>The scientific research held in the Full-Body Interaction Lab suggests an analysis based on a User study on the benefits of World as Support Augmented Reality paradigm-(WaS AR paradigm) in the heritage site of Barcino. The study is to analyse and identify the benefit of user study using this new paradigm based on Augmented Reality, called: World as Support Augmented Reality.</p>
            
            <p>As a participant, you were exploring the museum content in a group of participants in two conditions</p>
            
            <ol>
              <li><strong>Condition One:</strong> You perceived the augmented content with the help of a “Magic Lantern”, a World-as-Support based device While you were the device holder.</li>
              <li><strong>Condition Two:</strong> You perceived the augmented content with your group of partners as a partner of the device holder.</li>
            </ol>

            <p>
            Your participation in this research study is valuable, and we are grateful for your time. Please by clicking the Next button read and accept our policy.
            </p>
          </div>
          <button class="btn btn-primary btn-lg" href="#" role="button">Next</button>
        </div>
      </form>
    </div>
    <footer >
      <nav class="navbar navbar-light bg-lightgray">
        <div class="container-fluid">
        <p class="footer-footer text-right py-3">Loza Tadesse, Paul Hine, Narcis Pares, University Pompeu Fabra – UPF-WaS 2021-2022
      </p>
      </nav>
      </div>
      </footer>
  </body>
</html>
      